.login{
    display:grid;
    place-items: center;
}
.login-link{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    font-weight: 300;
    color:white;
}
.login-link:hover{
    background: #1db954;
    cursor: pointer;
}

.login img{
    width:autopx;
    height:100px;
}